
<body class = "session">
<nav class="logged-in clearfix">
	<div class="logo">
		<%= link_to "StockTweets",  "/session/new" %>
	</div>
	<ul class="clearfix">
		<li id="sign-in"><a>Sign In</a></li>
		<li><a href="/users/new">Register</a></li>
	</ul>
</nav>
<div id="signin-dropdown">
	<%= form_for @user, as: :session, url: session_url, html: { class: "signin"} do |f| %>
	<fieldset class="textbox">
		<%= f.text_field :email, placeholder: "email" %>
		<br/>
		<%= f.password_field :password, placeholder: "password" %>
		<br/>
	</fieldset>
	<%= f.submit "Log in" %>
	<% end %>
</div>
<p class="cloud">Welcome to stockTweets. <span class="big">Buy</span> <span class ="small">Nasdaq </span> <br><span class="small">High Price per Earnings </span><span class="big">Avoid</span><span class="medium">New Ceo</span><br><span class="medium1">Dividend Yield</span><span class="small">Internet</span><span class="medium">Cant Wait</span><br><span class="big">Announcement</span><br><span class="medium1">Products is always breaking</span></p>
<h2 class="home">Boost Returns | Real Time Tweets On Stocks</h2>
<h3 class="information">Sign In To Start</h3>
<div class="grass"></div>
</body>

