<h1><%= @stock.name %></h1>
<h4>Last: <%= @stock.last_trade_price %> Change: <%= @stock.change_in_percent %></h4>
<ul>
  <li>EPS: <%= @stock.earnings_per_share %></li>
  <li>P/E: <%= @stock.pe_ratio %> </li>
  <li>Volume: <%= number_with_delimiter(@stock.volume, :delimiter => ',') %></li>
  <li>Avg Volume: <%= number_with_delimiter(@stock.average_daily_volume, :delimiter => ',') %></li>
</ul>
