<h1><%= @stock.name %><br><div class="word"><div class="favorite">  </div>Favorite</div></h1>
<ul class="stockinfo">
  <li><h4>Last: <%= @stock.last_trade_price %> </h4></li>
  <li><h4>Change: <%= @stock.change_in_percent %></h4></li>
  <li>EPS: <%= @stock.earnings_per_share %></li>
  <li>P/E: <%= @stock.pe_ratio %> </li>
  <li>Volume: <%= number_with_delimiter(@stock.volume, :delimiter => ',') %></li>
  <li>Avg Volume: <%= number_with_delimiter(@stock.average_daily_volume, :delimiter => ',') %></li>
</ul>

    </br>
    <input type="button" value="Save to Favorites">
<table>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.tweet_sender %></td>
      <td><%= tweet.tweet_text %></td>
    </br>
    </tr>
  <% end %>

</table>
