<main class="gateway">
  <h1>Sign up</h1>

  <%= form_for @user do |f| %>
    <%= f.text_field :email, placeholder: "email" %>
    <br/>
    <%= f.password_field :password, placeholder: "password" %>
    <br/>
    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
    <br/>
    <%= f.submit "Sign up" %>
  <% end %>
</main>