<h4> {{ name }} </h4>
<p>Ticker: {{ ticker }}</p>
<p>Name: {{ name }}</p>
<form class='edit-stock-form'>
	Ticker: <input type="text" value="{{ ticker }}" name="ticker"><br>
	Name: <input type="text" value="{{ name }}" name="name"><br>
</form>
<button class='delete'>Delete Stock</button>